@model AP.quejasymasquejas.web.Models.FoodItem
@{
    ViewData["Title"] = "Crear Food Item";
}

<h1>Crear Food Item</h1>
<hr />
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <partial name="_Form" />
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Volver</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
