@model AP.quejasymasquejas.web.Models.FoodItem
@{
    ViewData["Title"] = "Editar Food Item";
}

<h1>Editar Food Item</h1>
<hr />
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="FoodItemID" />
    <partial name="_Form" />
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Volver</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
