@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Bienvenido a <span style="color:red;">Quejas &amp; más Quejas</span>
    </h1>
    <p>
        😏 Quejate hoy... y mañana no digas que no te lo advertimos 😏
    </p>

    <p style="color:blue">
        🍼 Y Recuerda es mejor prevenir que.......Amamantar 🍼
    </p>
</div>

