@page
@model AP.quejasymasquejas.Pages.Account.LoggedOutModel
@{
    ViewData["Title"] = "Gracias";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h2>Gracias por usar nuestros servicios</h2>
    <p>¡Vuelve pronto!</p>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary mt-3">Ir al Login</a>
</div>

@section Scripts {
    <script>
       
        setTimeout(function() {
            window.location.href = '/Identity/Account/Login';
        });
    </script>
}